{{- if eq .chezmoi.os "windows" -}}
$ErrorActionPreference = "Stop"

$Source = {{ quote (joinPath .chezmoi.sourceDir "common" "nvim") }}
$Destination = Join-Path $HOME "AppData\Local\nvim"
$Parent = Split-Path -Parent $Destination

New-Item -ItemType Directory -Force -Path $Parent | Out-Null

robocopy $Source $Destination /MIR /XF lazy-lock.json lazyvim.json | Out-Host
$ExitCode = $LASTEXITCODE

if ($ExitCode -ge 8) {
  exit $ExitCode
}

exit 0
{{- end }}
